@import url('../css/default.css');

.container{
  max-width: 1118px;
  width: 82%;
  margin: 0 auto;
  @media (max-width: 1024px) {
      width: calc(100% - 40px);
      margin: 0px 20px;
  }
}

.header{
  height: 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .menu-icon, .logo{
    cursor: pointer;
  }
}

.sec1{
  display: flex;
  
  &-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &-fullname{
      font-size: 16px;
    }
    &-spec{
      color: #fff;
      font-size: 40px;
      font-weight: 900;
      margin: 3px 0 7px 0;
    }
    &-down{
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}

// section 2 and 3 
.sec2{
  &-title{
    margin: 90px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #fff;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    &-def{
      width: 350px;
      height: 380px;
      border-radius: 30px;
      position: relative;
      &-text{
        position: absolute;
        top: 0px;
        padding: 20px 30px;
        & > div{
          text-align: center;
        }
        & > div:nth-child(1) {
          color: #fff;
        }
        & > div:nth-child(2) {
          margin: 23px 0;
          font-size: 16px;
          height: 230px;
        }
        & > div:nth-child(3) > a {
          color: #fff;
          font-weight: 900;
        }
        & > div:nth-child(4) {
          padding-top: 15px;
        }
        .sec3-content-text{
          height: 180px !important;
        }
        .sec3-link{
          font-weight: 400 !important;
          text-decoration: underline;
        }
      } 
      .sec3-text{
        position: absolute;
        bottom: -10px;
      }
    }
    .snake{
      background: url('../images/snake.svg') center / cover;
    }
    .cross-zero{
      background: url('../images/cross-zero.svg') center / cover;
    }
    .laptop{
      background: url('../images/laptop.svg') center / cover;
    }
    .python{
      background: url('../images/python.svg') center / cover;
    }
    .java{
      background: url('../images/java.svg') center / cover;
    }
  }
  .sec3-bottom{
    text-align: center;
    margin-top: 100px;
    padding: 60px;
    > pre:nth-child(2){
      margin-top: 75px;
      color: #FFF;
      font-size: 40px;
      font-weight: 900;
    }
  }
}

// footer 

.footer{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  
  &-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    > pre:nth-child(1){
      color: #FFF;
      font-weight: 900;
    }
    ul{
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      li{
        font-size: 16px;
      }
    }
  }
  
  &-media{
    display: flex;
    align-items: center;
    gap: 70px;
    &-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      div{
        color: #FFF;
      }
    }
  }
}

.license{
  font-size: 16px;
  margin: 50px 0;
}





